/*
	Andres Guzman
	December, 2021

*/

/*
==========================================================================
fonts
==========================================================================
*/

@font-face {
    font-family: "Founders Regular";
    src: url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
        url("../fonts/FoundersGrotesk-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Founders Medium";
    src: url("../fonts/FoundersGrotesk-Medium.woff2") format("woff2"),
        url("../fonts/FoundersGrotesk-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*
==========================================================================
base styles
==========================================================================
*/

:root {
    font-size: 16px;
    --colorAccent: rgba(46, 31, 255, 1);
    --colorDark: rgba(44, 60, 77, 1);
    --colorHalf: rgba(44, 60, 77, 0.4);

    --fontSizeSmall: 1.063rem;
    --fontSizeMedium: 1.1875rem;
    --fontSizeLarge: clamp(1rem, 10vw, 2.875rem);

    --fontFamilyRegular: "Founders Regular", Arial, Helvetica, sans-serif;
    --fontFamilyHeavy: "Founders Medium", Arial, Helvetica, sans-serif;

    --transitionMedium: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

::-moz-selection {
    background: var(--colorDark);
    color: white;
}

::selection {
    background: var(--colorDark);
    color: white;
}

/* keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

img,
svg {
    vertical-align: middle;
}

html {
    height: 100%;
}

body {
    opacity: 0;
    margin: 0;
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 60 60' style='enable-background:new 0 0 60 60;' xml:space='preserve'%3E%3Cg%3E%3Cpath class='st1' fill='%23848484' d='M3.14,0.15c0.9,1.09,1.58,2.26,0.28,3.45C2.25,4.67,1.15,3.97,0.15,3.14C-0.41,0.59,0.59-0.41,3.14,0.15z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 30px;
    background-attachment: fixed;
    text-rendering: optimizeLegibility;
    animation: fadeIn;
    animation-delay: 0.15s;
    animation-duration: 1.25s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

h1 {
    color: var(--colorDark);
    font: var(--fontSizeLarge) var(--fontFamilyHeavy);
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 1;
}

h2 {
    color: var(--colorDark);
    font: 23px var(--fontFamilyHeavy);
    transition: var(--transitionMedium);
    line-height: 1;
    margin: 0;
}

h3 {
    color: var(--colorDark);
    font: 23px var(--fontFamilyHeavy);
    margin: 0 0 25px 0;
    line-height: 1;
}

p {
    color: var(--colorDark);
    font: var(--fontSizeMedium) var(--fontFamilyRegular);
    line-height: 1.4;
    margin: 0;
}

#welcome,
#acerca {
    max-width: 70rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    box-sizing: border-box;
}

nav,
#examenes,
#ubicacion {
    max-width: 80rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    box-sizing: border-box;
}

/*
==========================================================================
nav
==========================================================================
*/

nav {
    max-width: 80rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 1.875rem 10px 1.875rem;
    box-sizing: border-box;
    z-index: 999;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 60 60' style='enable-background:new 0 0 60 60;' xml:space='preserve'%3E%3Cg%3E%3Cpath class='st1' fill='%23848484' d='M3.14,0.15c0.9,1.09,1.58,2.26,0.28,3.45C2.25,4.67,1.15,3.97,0.15,3.14C-0.41,0.59,0.59-0.41,3.14,0.15z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: white;
    background-size: 30px;
    background-attachment: fixed;
    box-sizing: border-box;
}

#nav--logo {
    display: inline-block;
    width: 182px;
    height: auto;
}

#nav--logo img {
    width: 100%;
    height: auto;
}

#nav--links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 40px;
}

#nav--links li {
    padding-top: 4px;
}

#nav--links li:last-of-type {
    margin-top: -7px;
}

#nav--links > li a {
    position: relative;
    color: var(--colorAccent);
    font: var(--fontSizeMedium) var(--fontFamilyHeavy);
    text-decoration: none;
}

#nav--links > li a:hover::after {
    width: 100%;
    left: 0;
}

#nav--links > li:last-of-type a::after {
    background: none;
}

#nav--links > li a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    background: var(--colorAccent);
    transition: var(--transitionMedium);
    width: 0;
}

a[href="#ubicacion-contacto"] span {
    padding: 0 4px;
}

.nav--facebook {
    fill: var(--colorAccent);
    transition: var(--transitionMedium);
}

.nav--facebook:hover {
    fill: var(--colorDark);
}

#loading:focus {
    cursor: progress;
}

/* #loading:hover {
	cursor: pointer;
} */

/*
==========================================================================
main
==========================================================================
*/

main {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
==========================================================================
section welcome
==========================================================================
*/

#welcome {
    display: grid;
    grid-template-areas: "textBody" "textFooter";
    grid-template-rows: 1fr 50px;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.welcome--wrapper {
    align-self: center;
    grid-area: textBody;
}

.welcome--text {
    /* height: 50px; */
    fill: var(--colorAccent);
    aspect-ratio: 11 / 1;
    transform: translateY(100%);
}

.welcome--text__first,
.welcome--text__second,
.welcome--text__third {
    overflow: hidden;
}

.welcome--text__first {
    margin-bottom: 20px;
}

.welcome--text__second {
    margin-bottom: 15px;
}

#welcome_svg_first,
#welcome_svg_second,
#welcome_svg_third {
    animation: moveUp;
    animation-duration: 1.25s;
    animation-timing-function: var(--transitionMedium);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#welcome_svg_first {
    animation-delay: 1.15s;
}

#welcome_svg_second {
    animation-delay: 1.35s;
}

#welcome_svg_third {
    animation-delay: 1.65s;
}

.welcome--footer {
    max-width: 100px;
    grid-area: textFooter;
    text-decoration: none;
    margin: -30px auto 0 auto;
}

#welcome--arrow {
    width: 34px;
    height: auto;
    fill: var(--colorAccent);
    display: block;
    margin: 0 auto;
}

/*
==========================================================================
section acerca
==========================================================================
*/

#acerca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.acerca--wrapper {
    /* background-color: #ffffff;  removed backround to make it more "stylish"  */
    display: flex;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
    text-align: justify;
}

.acerca--wrapper p {
    flex: 1;
    margin-bottom: 20px;
}

.acerca--wrapper p:last-of-type {
    margin-bottom: 40px;
}

.hr {
    width: 100%;
    height: 1px;
    padding: 0 30px;
    background-color: var(--colorDark);
    box-sizing: border-box;
}

.acerca--photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-content: center;
    padding: 0 30px;
}

.acerca--photos > a > img {
    max-width: 100%;
    max-height: 164px;
    object-fit: cover;
}

/*
==========================================================================
section examenes
==========================================================================
*/

#examenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

#examenes--wrapper {
    background-color: #ffffff;
    --n: 5; /* max number of columns */
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(max(150px, 100% / var(--n)), 1fr)
    );
    grid-auto-rows: 1fr;
    gap: 15px;
}

.examenes--window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 13px 13px 10px 13px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid var(--colorHalf);
    border-bottom: 1px solid var(--colorHalf);
    text-decoration: none;
    transition: var(--transitionMedium);
}

.examenes--window > span,
.examenes--long {
    position: relative;
    color: var(--colorDark);
    font: var(--fontSizeSmall) var(--fontFamilyRegular);
    line-height: 1;
    transition: var(--transitionMedium);
}

/* .examenes--window > span::after {
	content: "";
	background-image: url("data:image/svg+xml;utf8,<svg width='32' height='32' xmlns='http://www.w3.org/2000/svg'><path d='M28 4H10a2.006 2.006 0 0 0-2 2v14a2.006 2.006 0 0 0 2 2h18a2.006 2.006 0 0 0 2-2V6a2.006 2.006 0 0 0-2-2zm0 16H10V6h18z'/><path d='M18 26H4V16h2v-2H4a2.006 2.006 0 0 0-2 2v10a2.006 2.006 0 0 0 2 2h14a2.006 2.006 0 0 0 2-2v-2h-2z'/><path style='fill:none' d='M0 0h32v32H0z'/></svg>");
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: 5px -1px;
	width: 20px;
	height: 10px;
	display: inline-block;
} */

.examenes--window:hover,
#info:hover {
    border: 1px solid var(--colorAccent);
    box-shadow: 1px 1px var(--colorAccent), 2px 2px var(--colorAccent),
        3px 3px var(--colorAccent), 4px 4px var(--colorAccent),
        5px 5px var(--colorAccent);
}

.examenes--window:hover > h2,
.examenes--window:hover > span {
    color: var(--colorAccent);
}

#info {
    display: grid;
    grid-template-columns: 16% 1fr;
    align-content: center;
    color: var(--colorAccent);
    font: var(--fontSizeSmall) var(--fontFamilyRegular);
    line-height: 1.25;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid var(--colorAccent);
    border-bottom: 1px solid var(--colorAccent);
    text-decoration: none;
    transition: var(--transitionMedium);
}

#info > svg {
    margin-top: -1px;
}

/* modal window */

#examen--instrucciones {
    max-width: 42vw;
}

#examen--instrucciones p {
    font-size: 18px;
    margin-bottom: 30px;
}

#examen--instrucciones ul li {
    margin-bottom: unset;
}

#examen--instrucciones ul li:last-of-type {
    margin-bottom: 30px;
}

#examen--instrucciones ul:last-of-type li {
    margin-bottom: 0;
}

#examen--instrucciones > h2 svg {
    width: 20px;
    height: auto;
    margin-top: -8px;
    margin-right: 6px;
}

.examenes--long {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

/*
==========================================================================
section contacto
==========================================================================
*/

#ubicacion {
    max-width: 1280px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.ubicacion--wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.ubicacion--mapa {
    position: relative;
    height: 395px;
    background-image: url(../images/map_marker_white.png);
    background-size: 170%;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--colorDark);
    font: var(--fontSizeSmall) var(--fontFamilyHeavy);
    transition: var(--transitionMedium);
}

.ubicacion--mapa::after {
    content: "Haga click en la imagen para ver el mapa en tamaño completo";
    position: absolute;
    bottom: -40px;
    left: 0;
}

.ubicacion--data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--colorAccent);
    padding: 40px;
    box-sizing: border-box;
}

.ubicacion--data > p {
    color: var(--colorAccent);
    font: var(--fontSizeSmall) var(--fontFamilyRegular);
    line-height: 1.5;
}

.ubicacion--data > p > a {
    color: var(--colorAccent);
}

/*
==========================================================================
footer
==========================================================================
*/

footer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: var(--colorDark);
    font: var(--fontSizeSmall) var(--fontFamilyRegular);
    padding-bottom: 30px;
}

/*
==========================================================================
resultados
==========================================================================
*/

/*
==========================================================================
fancybox
==========================================================================
*/

/* examenes--modal styles */

.not-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.carousel {
    position: relative;
    box-sizing: border-box;
}
.carousel *,
.carousel *:before,
.carousel *:after {
    box-sizing: inherit;
}
.carousel.is-draggable {
    cursor: move;
    cursor: grab;
}
.carousel.is-dragging {
    cursor: move;
    cursor: grabbing;
}
.carousel__viewport {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
.carousel__track {
    display: flex;
}
.carousel__slide {
    flex: 0 0 auto;
    width: var(--carousel-slide-width, 60%);
    max-width: 100%;
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

/* .has-dots {
	margin-bottom:calc(0.5rem + 22px)
   }
   .carousel__dots {
	margin:0 auto;
	padding:0;
	position:absolute;
	top:calc(100% + 0.5rem);
	left:0;
	right:0;
	display:flex;
	justify-content:center;
	list-style:none;
	user-select:none
   }
   .carousel__dots .carousel__dot {
	margin:0;
	padding:0;
	display:block;
	position:relative;
	width:22px;
	height:22px;
	cursor:pointer
   }
   .carousel__dots .carousel__dot:after {
	content:"";
	width:8px;
	height:8px;
	border-radius:50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background-color:currentColor;
	opacity:.25;
	transition:opacity .15s ease-in-out
   }
   .carousel__dots .carousel__dot.is-selected:after {
	opacity:1
   } */

.carousel__button {
    width: var(--carousel-button-width, 48px);
    height: var(--carousel-button-height, 48px);
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    color: var(--carousel-button-color, currentColor);
    background: var(--carousel-button-bg, transparent);
    border-radius: var(--carousel-button-border-radius, 50%);
    box-shadow: var(--carousel-button-shadow, none);
    transition: opacity 0.15s ease;
}
.carousel__button.is-prev,
.carousel__button.is-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel__button.is-prev {
    left: 10px;
}
.carousel__button.is-next {
    right: 10px;
}
.carousel__button[disabled] {
    cursor: default;
    opacity: 0.3;
}
.carousel__button svg {
    width: var(--carousel-button-svg-width, 50%);
    height: var(--carousel-button-svg-height, 50%);
    fill: none;
    stroke: currentColor;
    stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
    stroke-linejoin: bevel;
    stroke-linecap: round;
    filter: var(--carousel-button-svg-filter, none);
    pointer-events: none;
}
html.with-fancybox {
    scroll-behavior: auto;
}
body.compensate-for-scrollbar {
    overflow: hidden !important;
    touch-action: none;
}
.fancybox__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    direction: ltr;
    margin: 0;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--fancybox-color, #fff);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    z-index: 1050;
    outline: none;
    transform-origin: top left;
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
    --carousel-button-svg-stroke-width: 2.5;
    --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}
.fancybox__container *,
.fancybox__container *::before,
.fancybox__container *::after {
    box-sizing: inherit;
}
.fancybox__container :focus {
    outline: none;
}
body:not(.is-using-mouse) .fancybox__container :focus {
    box-shadow: 0 0 0 1px #fff,
        0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
}
@media all and (min-width: 1024px) {
    .fancybox__container {
        --carousel-button-width: 48px;
        --carousel-button-height: 48px;
        --carousel-button-svg-width: 27px;
        --carousel-button-svg-height: 27px;
    }
}
.fancybox__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--fancybox-bg, rgba(24, 24, 27, 0.85));
}
.fancybox__carousel {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    z-index: 10;
}
.fancybox__carousel.has-dots {
    margin-bottom: calc(0.5rem + 22px);
}
.fancybox__viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    cursor: default;
}
.fancybox__track {
    display: flex;
    height: 100%;
}
.fancybox__slide {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 48px 8px 8px 8px;
    position: relative;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    outline: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    --carousel-button-width: 50px;
    --carousel-button-height: 50px;
    --carousel-button-svg-width: 28px;
    --carousel-button-svg-height: 28px;
}
.fancybox__slide::before,
.fancybox__slide::after {
    content: "";
    flex: 0 0 0;
    margin: auto;
}
@media all and (min-width: 1024px) {
    .fancybox__slide {
        padding: 64px 100px;
    }
}

.fancybox__content {
    max-width: 50vw;
    min-width: 24rem;
    margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
    padding: 45px;
    color: var(--fancybox-content-color, #374151);
    background: var(--fancybox-content-bg, #fff);
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    z-index: 20;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px 5px rgba(38, 38, 38, 0.3); */
}

/* user generated by me */

.fancybox__content > h2 {
    color: var(--colorAccent);
    text-align: center;
    margin-bottom: 36px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--colorAccent);
}

.fancybox__content > ul,
.fancybox__content > .examenes--long > ul {
    /* list-style-type: none; */
    padding: 0 0 0 12px;
    margin: 0;
}

.fancybox__content > ul li,
.fancybox__content > .examenes--long > ul li {
    color: var(--colorDark);
    font: 18px var(--fontFamilyRegular);
    margin-bottom: 8px;
    padding-left: 3px;
}

.fancybox__content > ul li::marker,
.fancybox__content > .examenes--long > ul li::marker {
    color: var(--colorAccent);
    font-size: 13px;
}

.fancybox__content > ul li:last-of-type {
    margin-bottom: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
    outline: thin dotted;
    box-shadow: none;
}
.fancybox__caption {
    align-self: center;
    max-width: 100%;
    margin: 0;
    padding: 1rem 0 0 0;
    line-height: 1.375;
    color: var(--fancybox-color, currentColor);
    visibility: visible;
    cursor: auto;
    flex-shrink: 0;
    overflow-wrap: anywhere;
}
.is-loading .fancybox__caption {
    visibility: hidden;
}
.fancybox__container > .carousel__dots {
    top: 100%;
    color: var(--fancybox-color, #fff);
}
.fancybox__nav .carousel__button {
    z-index: 40;
}
.fancybox__nav .carousel__button.is-next {
    right: 8px;
}
@media all and (min-width: 1024px) {
    .fancybox__nav .carousel__button.is-next {
        right: 40px;
    }
}
.fancybox__nav .carousel__button.is-prev {
    left: 8px;
}
@media all and (min-width: 1024px) {
    .fancybox__nav .carousel__button.is-prev {
        left: 40px;
    }
}
.carousel__button.is-close {
    position: absolute;
    top: 8px;
    right: 8px;
    top: calc(env(safe-area-inset-top, 0px) + 8px);
    right: calc(env(safe-area-inset-right, 0px) + 8px);
    z-index: 40;
}
@media all and (min-width: 1024px) {
    .carousel__button.is-close {
        right: 40px;
    }
}
.fancybox__content > .carousel__button.is-close {
    position: absolute;
    top: -50px;
    right: -15px;
    color: var(--fancybox-color, #fff);
}
.fancybox__no-click,
.fancybox__no-click button {
    pointer-events: none;
}
.fancybox__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    color: var(--fancybox-color, currentColor);
}
.fancybox__slide .fancybox__spinner {
    cursor: pointer;
    z-index: 1053;
}
.fancybox__spinner svg {
    animation: fancybox-rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.fancybox__spinner svg circle {
    fill: none;
    stroke-width: 2.75;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: fancybox-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: currentColor;
}
@keyframes fancybox-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fancybox-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
    opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__dots,
.fancybox__container.is-animated[aria-hidden="false"]
    .carousel__button.is-close {
    animation: 0.5s ease backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
    animation: 0.5s ease both fancybox-fadeOut;
}
.fancybox-fadeIn {
    animation: 0.15s ease both fancybox-fadeIn;
}
.fancybox-fadeOut {
    animation: 0.5s ease both fancybox-fadeOut;
}
.fancybox-zoomInUp {
    animation: 0.2s ease both fancybox-zoomInUp;
}
.fancybox-zoomOutDown {
    animation: 0.15s ease both fancybox-zoomOutDown;
}
.fancybox-throwOutUp {
    animation: 0.15s ease both fancybox-throwOutUp;
}
.fancybox-throwOutDown {
    animation: 0.15s ease both fancybox-throwOutDown;
}
@keyframes fancybox-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fancybox-fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fancybox-zoomInUp {
    from {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }
    to {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes fancybox-zoomOutDown {
    to {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }
}
@keyframes fancybox-throwOutUp {
    to {
        transform: translate3d(0, -30%, 0);
        opacity: 0;
    }
}
@keyframes fancybox-throwOutDown {
    to {
        transform: translate3d(0, 30%, 0);
        opacity: 0;
    }
}
.fancybox__carousel .carousel__slide {
    scrollbar-width: thin;
    scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: move;
    cursor: initial;
}
.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
    cursor: move;
    cursor: grabbing;
}
.fancybox__carousel .fancybox__slide .fancybox__content {
    cursor: auto;
}
.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
    cursor: zoom-in;
}
.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
    cursor: zoom-out;
}
.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
    cursor: move;
    cursor: grab;
}
.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
    cursor: move;
    cursor: grabbing;
}
.fancybox__image {
    transform-origin: 0 0;
    touch-action: none;
    user-select: none;
    transition: none;
}
.has-image .fancybox__content {
    padding: 0;
    background: transparent;
    min-height: 1px;
}
.is-closing .has-image .fancybox__content {
    overflow: visible;
}
.has-image[data-image-fit="contain"] {
    overflow: visible;
    touch-action: none;
}
.has-image[data-image-fit="contain"] .fancybox__content {
    flex-direction: row;
    flex-wrap: wrap;
}
.has-image[data-image-fit="contain"] .fancybox__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.has-image[data-image-fit="contain-w"] {
    overflow-x: hidden;
    overflow-y: auto;
}
.has-image[data-image-fit="contain-w"] .fancybox__content {
    min-height: auto;
}
.has-image[data-image-fit="contain-w"] .fancybox__image {
    max-width: 100%;
    height: auto;
}
.has-image[data-image-fit="cover"] {
    overflow: visible;
    touch-action: none;
}
.has-image[data-image-fit="cover"] .fancybox__content {
    width: 100%;
    height: 100%;
}
.has-image[data-image-fit="cover"] .fancybox__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    flex-shrink: 1;
    min-height: 1px;
    overflow: visible;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
    width: 100%;
    height: 80%;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    width: 960px;
    height: 540px;
    max-width: 100%;
    max-height: 100%;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    padding: 0;
    background: rgba(24, 24, 27, 0.9);
    color: #fff;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
    background: #e5e3df;
}
.fancybox__html5video,
.fancybox__iframe {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
}
.fancybox-placeholder {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.fancybox__thumbs {
    display: none;
    flex: 0 0 auto;
    position: relative;
    padding: 0px 3px;
    opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__thumbs {
    animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__thumbs {
    opacity: 0;
}
.fancybox__thumbs .carousel__slide {
    flex: 0 0 auto;
    width: var(--fancybox-thumbs-width, 96px);
    margin: 0;
    padding: 8px 3px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 4px;
    border-style: solid;
    border-color: var(--colorAccent);
    opacity: 0;
    transition: opacity 0.15s ease;
    border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
    opacity: 0.92;
}
.fancybox__thumbs .carousel__slide > * {
    pointer-events: none;
    user-select: none;
}
.fancybox__thumb {
    position: relative;
    width: 100%;
    padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.006) 8.1%,
        rgba(0, 0, 0, 0.021) 15.5%,
        rgba(0, 0, 0, 0.046) 22.5%,
        rgba(0, 0, 0, 0.077) 29%,
        rgba(0, 0, 0, 0.114) 35.3%,
        rgba(0, 0, 0, 0.155) 41.2%,
        rgba(0, 0, 0, 0.198) 47.1%,
        rgba(0, 0, 0, 0.242) 52.9%,
        rgba(0, 0, 0, 0.285) 58.8%,
        rgba(0, 0, 0, 0.326) 64.7%,
        rgba(0, 0, 0, 0.363) 71%,
        rgba(0, 0, 0, 0.394) 77.5%,
        rgba(0, 0, 0, 0.419) 84.5%,
        rgba(0, 0, 0, 0.434) 91.9%,
        rgba(0, 0, 0, 0.44) 100%
    );
    padding: 0;
    touch-action: none;
    display: flex;
    justify-content: space-between;
    --carousel-button-svg-width: 30px;
    --carousel-button-svg-height: 30px;
    opacity: var(--fancybox-opacity, 1);
    text-shadow: var(
        --fancybox-toolbar-text-shadow,
        1px 1px 1px rgba(0, 0, 0, 0.4)
    );
}
@media all and (min-width: 1024px) {
    .fancybox__toolbar {
        padding: 8px;
    }
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__toolbar {
    animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__toolbar {
    opacity: 0;
}
.fancybox__toolbar__items {
    display: flex;
}
.fancybox__toolbar__items--left {
    margin-right: auto;
}
.fancybox__toolbar__items--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fancybox__toolbar__items--right {
    margin-left: auto;
}
@media (max-width: 640px) {
    .fancybox__toolbar__items--center:not(:last-child) {
        display: none;
    }
}
.fancybox__counter {
    display: none;
    min-width: 72px;
    padding: 0 10px;
    line-height: var(--carousel-button-height, 48px);
    text-align: center;
    font-size: 17px;
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: subpixel-antialiased;
}
.fancybox__progress {
    background: var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0;
    transition-property: transform;
    transition-timing-function: linear;
    z-index: 30;
    user-select: none;
}
.fancybox__container:fullscreen::backdrop {
    opacity: 0;
}
.fancybox__button--fullscreen g:nth-child(2) {
    display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
    display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
    display: block;
}
.fancybox__button--slideshow g:nth-child(2) {
    display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
    display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
    display: block;
}

.fancybox__button--zoom,
.fancybox__button--slideshow,
.fancybox__button--fullscreen,
.fancybox__button--thumbs {
    display: none;
}

/*
==========================================================================
media queries
==========================================================================
*/

@media all and (max-width: 1177px) {
    /* nav */

    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 1.875rem;
    }

    #nav--logo {
        max-width: 140px;
        padding-bottom: 1rem;
    }

    #nav--links {
        width: 100%;
        justify-content: space-between;
    }

    #nav--links li {
        margin: 0;
    }

    /* welcome */

    .welcome--footer p {
        font-size: var(--fontSizeSmall);
    }

    /* acerca */

    #acerca {
        height: 100%;
        padding-top: 160px;
        padding-bottom: 25px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .acerca--wrapper {
        flex-direction: column;
    }

    .acerca--wrapper p {
        font-size: var(--fontSizeSmall);
    }

    /* examenes */

    #examenes {
        padding-top: 160px;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 100%;
    }

    #examen--instrucciones {
        max-width: 81vw;
    }

    .examenes--window {
        border: 1px solid var(--colorHalf);
    }

    #info {
        border: 1px solid var(--colorAccent);
    }

    #info span {
        padding-left: 14px;
    }

    /* ubicacion */

    #ubicacion {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* examenes long */

    .examenes--long {
        flex-direction: column;
        gap: unset;
    }
}

@media all and (max-width: 970px) {
    /* nav */

    .is-hidden {
        display: none;
    }

    nav {
        background-color: white;
        padding: 1rem;
    }

    #nav--logo {
        max-width: 120px;
        padding-bottom: 1rem;
    }

    #nav--links {
        gap: unset;
    }

    #nav--links li {
        margin-bottom: 0.5rem;
    }

    #nav--links li:last-of-type {
        display: none;
    }

    #nav--links > li a {
        font-size: 16px;
    }

    a[href="resultados"] {
        text-transform: capitalize;
    }

    #ubicacion {
        padding-top: 160px;
        height: 100%;
    }

    .ubicacion--wrapper {
        display: flex;
        flex-direction: column;
    }

    .ubicacion--mapa {
        margin-bottom: 48px;
    }

    .ubicacion--mapa::after {
        bottom: -60px;
    }

    .ubicacion--data > p {
        margin-bottom: 25px;
    }

    .ubicacion--data > p:last-of-type {
        margin-bottom: 0;
    }

    /* footer */

    footer {
        padding-top: 30px;
    }
}